/* ============================================
   GREAT BOOKS PORTFOLIO - VERSION 2
   Main Stylesheet - Imports All Modules
   ============================================ */

/* Import all modular CSS files */
@import url('variables.css');
@import url('base.css');
@import url('typography.css');
@import url('navigation.css');
@import url('hero.css');
@import url('components.css');
@import url('footer.css');
@import url('animations.css');
@import url('responsive.css');

