/* ============================================
   GREAT BOOKS PORTFOLIO - VERSION 2
   Main Stylesheet - Imports All Modules
   ============================================ */

/* Import all modular CSS files */
@import url('css/variables.css');
@import url('css/base.css');
@import url('css/typography.css');
@import url('css/navigation.css');
@import url('css/hero.css');
@import url('css/components.css');
@import url('css/footer.css');
@import url('css/animations.css');
@import url('css/responsive.css');

